.primary{
  background-color: #90cbd3 !important;
  color: white !important;
}
.secondary{
  background-color: #202020 !important;
  color: white !important;
}
.success{
  background-color: #52c452 !important;
  color: white !important;
}